body{
    zoom:1;
}

html, body{
    width:100%;
    height: 100%;
    margin:0;
    padding:0;
    font-family: Helvetica, sans-serif;
    background: #eee;
}

.header{
  width: 100%;
  background: #80a5bf;
  padding: 10px;
  color: white;
  display: inline-block;
 
}

.header h1{
    margin-left: 50px;
    font-weight: 100;
    font-size: 20px;
}

#footer{
    position: absolute;
    bottom: 40px;
    width: 100%;
    z-index: 1;
}

#overlap{
    height: 60px;
}

#scrap_area{
    width: 100%;
    height: 100%;
    color:#fefefe;
    padding:10px;
    display: inline-block;
}

#add_media{
   display: block;
}

.btn_select{
    cursor: pointer;
    position: absolute;
    left:70px;
    bottom:30px;
    width:50px;
    height: 50px;
    border-radius: 40px;
    background: #f1efd3;
    text-align: center;
    overflow: hidden;
}

#box{
    width:200px;
    height: 160px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.btn_selectbig{
    cursor: pointer;
    position: absolute;
    left:70px;
    bottom:30px;
    width:60px;
    height: 60px;
    border-radius: 60px;
    background: #ee735c;
    text-align: center;
    x-index:2;
}

.textArea{
    color:black;
    float:left;
    width:50%;
}

#inputFile{
    cursor: pointer;
    width:50px !important;
    height: 50px !important;
    border-radius: 40px !important;
    background: #f1efd3;
    text-align: center;
    opacity: 0 !important;
    overflow: hidden !important;
    margin-top:-30px;
}

#image{
	margin: 20px;
	float:left;
    width: 120px;
    height: 120px;
    background-size: 100%;
    background-position: center;
    background-repeat:no-repeat;
    background-color: #ccc;
}

#mapholder{
    float: left;
    width: 160px;
    height: 160px;
    border-radius: 80px;
    overflow: hidden;
    background-position: center;
}

.btn_selectbig span{
	margin-top:20px;
	color:white;
}

.btn_select span{
	margin-top:15px;
}

#login_area, #trip_area, #entry_area, #details_area, #compose_area{
	position: fixed;
	left:0;
	width:100%;
	height: 100%;
}

#trip_area, #entry_area, #details_area{
    background-color: white;
}

#login_area{
    background-image: url(../images/balloon.svg);
    background-size: cover;
}

#login_area{ z-index:10;}
#trip_area{ z-index:9;}
#entry_area{z-index:8;}
#compose_area{z-index:5;}

#login_container, #trip_container, #entry_container{
	margin-right: auto;
	margin-left: auto;
	margin-top:20px;
}

#details_container{
    width:90%;
	margin-right: auto;
	margin-left: auto;
	margin-top:20px;
}


#login_container{

  padding: 10px 0 10px 40px;
  background-color: rgba(255,255,255,.8);
}

.place{
	padding-left: 20px;
}

#newtrip, #newentry{
    display: none;
}

ul{
    padding: 0;
}

.timeline{
    position: relative;
    width: 90%;
    margin: 0 auto;
}

.timeline-element{
    position: relative;
    margin: 2em 0;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 30px;
  height: 100%;
  width: 4px;
  background: #000;
}

.timeline-image{
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  border: 3px solid #fff;
}

.timeline-image img{
  display: block;
  width: 100%;
  position: relative;
}

.timeline-content {
  position: relative;
  margin-left: 80px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  background: #fff;
}

.timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

.entry-title{
    font-size: 15px;
    color: #097cb3;
}

.author_n_date{
    display: inline-block;
    width: 100%;
    margin-top:0;
}

.author{
    color:#777;
    font-size: 12px;
    float: left;
}

.date{
    color:#777;
    font-size: 12px;
    float: right;
}

li{
 list-style: none;
 cursor: pointer;
}

#entry_back, #trip_back{
    width: 30px;
    float:left;
    margin-top: 8px;
}